<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="css/main-style.css" />
		<link rel="stylesheet" href="css/<%= style %>" />
		<title><%= title %></title>
	</head>
	<body>
		<header class="header">
			<a href="/home" class="logo">
				<img src="img/logo-unpar.png" alt="Logo" />
			</a>
			<h3><%= title %></h3>
			<div class="profile-picture">
				<img src="img/profile-pictures/my-image.jpeg" alt="Profile Picture" />
			</div>
			<a href="/profile" class="profile-picture">
				<img src="img/profile-pictures/my-image.jpeg" alt="profile" />
			</a>
		</header>

		<div class="content-page"><%- body %></div>
		<script src="js/<%= script %>"></script>
		<script src="js/main-script.js"></script>
	</body>
</html>
