<div
	class="dt-coordinators"
	get-data-coordinator="<%= coordinatorData %>"></div>
<div class="dt-students" get-data-student="<%= studentData %>"></div>
<div class="dt-supervisors" get-data-supervisor="<%= supervisorData %>"></div>
<div class="dt-examiners" get-data-examiner="<%= examinerData %>"></div>
<div class="user-data" get-user-data="<%= userData %>"></div>
<div class="umd-container">
	<div class="umd-header">
		<div class="box-action">
			<div class="btn-choose-role-student">New Student</div>
			<div class="btn-choose-role-lecturer">New Lecturer</div>
			<div class="btn-edit">Edit</div>
		</div>
	</div>

	<div class="umd-body">
		<form action="/user-management" method="post">
			<div class="box-form">
				<div class="box-input">
					<div class="box-input-title">User Data</div>
					<div class="field student">
						<label for="npm">NPM</label>
						<input type="text" name="npm" id="npm" placeholder="Enter NPM" />
					</div>
					<div class="field lecturer">
						<label for="nik">NIK</label>
						<input type="text" name="nik" id="nik" placeholder="Enter NIK" />
					</div>
					<div class="field">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" placeholder="Enter Name" />
					</div>
					<div class="field">
						<label for="email">Email</label>
						<input
							type="email"
							name="email"
							id="email"
							placeholder="Enter Email" />
					</div>
					<div class="field">
						<label for="password">Password</label>
						<input
							type="password"
							name="password"
							id="password"
							placeholder="Enter Password" />
					</div>
					<div class="field student">
						<label for="program-study">Program Study</label>
						<select name="program_study" id="program-study">
							<option value="" disabled selected>Select program study</option>
							<option value="Program Study A">Program Study A</option>
							<option value="Program Study B">Program Study B</option>
							<option value="Program Study C">Program Study C</option>
							<option value="Program Study D">Program Study D</option>
						</select>
					</div>
				</div>
				<div class="box-input">
					<div class="box-input-title">Thesis Data</div>
					<div class="field student">
						<label for="thesis-topic">Thesis Topic</label>
						<textarea
							name="thesisTopic"
							id="thesis-topic"
							placeholder="Enter Thesis Topic"
							rows="4"
							cols="50"></textarea>
					</div>
					<div class="field student">
						<label for="supervisor-name">Supervisor</label>
						<div class="box-supervisor">
							<div class="show-supervisor" id="supervisor-name"></div>
							<div class="box-action-input">
								<ion-icon
									class="add-icon search-supervisor"
									name="add-outline"></ion-icon>
								<ion-icon
									class="swap-icon search-supervisor"
									name="swap-horizontal-outline"></ion-icon>
								<ion-icon
									class="trash-icon delete-supervisor"
									name="trash-outline"></ion-icon>
							</div>
						</div>
					</div>
					<div class="field lecturer">
						<label>Lecturer Role</label>
						<div class="checkbox-group">
							<div class="checkbox-item">
								<input
									type="checkbox"
									id="checkbox-examiner"
									name="examiner"
									value="examiner" />
								<label for="checkbox-examiner">Examiner</label>
							</div>
							<div class="checkbox-item">
								<input
									type="checkbox"
									id="checkbox-supervisor"
									name="supervisor"
									value="supervisor" />
								<label for="checkbox-supervisor">Supervisor</label>
							</div>
							<div class="checkbox-item">
								<input
									type="checkbox"
									id="checkbox-coordinator"
									name="coordinator"
									value="coordinator" />
								<label for="checkbox-coordinator">Coordinator</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<input type="text" name="id_supervisor" id="id-supervisor" style="display: none" />
			<input type="submit" value="Submit" class="submit-button" />
		</form>
	</div>
</div>
<%- include('layouts/search-user-modal') %>
