<div
	class="dt-coordinators"
	get-data-coordinator="<%= coordinatorData %>"></div>
<div class="dt-students" get-data-student="<%= studentData %>"></div>
<div class="dt-supervisors" get-data-supervisor="<%= supervisorData %>"></div>
<div class="dt-examiners" get-data-examiner="<%= examinerData %>"></div>
<div class="schedule-data" get-schedule-data="<%= scheduleData %>"></div>
<div class="msd-container">
	<div class="msd-header" style="display: none">
		<div class="box-action">
			<div class="btn-edit">Edit</div>
		</div>
	</div>
	<div class="msd-body">
		<form
			action="/schedule-management-detail"
			method="post"
			class="form-container">
			<div class="box-form">
				<div class="box-input">
					<!-- Radio buttons for choosing thesis -->
					<div class="field">
						<label class="label-input">Thesis</label>
						<div class="box-radio" id="radioGroup">
							<div class="box-radio-input">
								<input
									type="radio"
									id="thesis1"
									name="scheduleThesisPhase"
									value="thesis-1"
									disabled />
								<label for="thesis1" class="label-radio">Thesis 1</label>
							</div>
							<div class="box-radio-input">
								<input
									type="radio"
									id="thesis2"
									name="scheduleThesisPhase"
									value="thesis-2"
									disabled />
								<label for="thesis2" class="label-radio">Thesis 2</label>
							</div>
						</div>
					</div>
					<div class="field">
						<label for="date" class="label-input">Date</label>
						<input
							type="date"
							name="scheduleDate"
							id="date"
							required
							readonly />
					</div>
					<div class="field">
						<label for="time" class="label-input">Time</label>
						<input
							type="time"
							name="scheduleTime"
							id="time"
							required
							readonly />
					</div>
					<div class="field">
						<label for="room" class="label-input">Room</label>
						<input
							type="text"
							name="scheduleRoom"
							id="room"
							placeholder="Enter room number"
							required
							readonly />
					</div>
				</div>
				<div class="box-input">
					<input
						type="text"
						id="id-schedule"
						name="scheduleID"
						style="display: none" />
					<input
						type="text"
						id="id-coordinator"
						name="coordinatorID"
						value="123456705C"
						style="display: none" />
					<input
						type="text"
						id="npm-student"
						name="studentNPM"
						required
						style="visibility: hidden; position: absolute" />

					<input
						type="text"
						id="id-supervisor"
						name="supervisorID"
						style="display: none" />
					<input
						type="text"
						id="id-examiner-head"
						name="examinerHeadID"
						style="display: none" />
					<input
						type="text"
						id="id-examiner-team"
						name="examinerTeamID"
						style="display: none" />

					<div class="box-role">
						<div class="role-tile">Student</div>
						<div class="role-field">
							<div id="role-student" class="role-name"></div>
							<div class="box-action-input">
								<ion-icon
									class="add-icon search-students"
									name="add-outline"></ion-icon>
								<ion-icon
									class="swap-icon search-students"
									name="swap-horizontal-outline"></ion-icon>
								<ion-icon
									class="trash-icon delete-student"
									name="trash-outline"></ion-icon>
							</div>
						</div>
					</div>
					<div class="box-role">
						<div class="role-tile">Supervisor</div>
						<div class="role-field">
							<div id="role-supervisor" class="role-name"></div>
						</div>
					</div>
					<div class="box-role">
						<div class="role-tile">Examiners</div>
						<div class="role-field">
							<div id="role-examiner-head" class="role-name"></div>
							<div class="box-action-input">
								<ion-icon
									class="add-icon search-examiner-head"
									name="add-outline"></ion-icon>
								<ion-icon
									class="swap-icon search-examiner-head"
									name="swap-horizontal-outline"></ion-icon>
								<ion-icon
									class="trash-icon delete-examiner-head"
									name="trash-outline"></ion-icon>
							</div>
						</div>
						<div class="role-field" id="role-examiner-team-container">
							<div id="role-examiner-team" class="role-name"></div>
							<div class="box-action-input">
								<ion-icon
									class="add-icon search-examiner-team"
									name="add-outline"></ion-icon>
								<ion-icon
									class="swap-icon search-examiner-team"
									name="swap-horizontal-outline"></ion-icon>
								<ion-icon
									class="trash-icon delete-examiner-team"
									name="trash-outline"></ion-icon>
							</div>
						</div>
					</div>
					<div class="box-role">
						<div class="role-tile">Coordinator</div>
						<div class="role-field">
							<div id="role-coordinator" class="role-name"></div>
						</div>
					</div>
				</div>
			</div>
			<input
				type="submit"
				value="Save"
				class="submit-button"
				style="display: none" />
		</form>
	</div>
</div>
<%- include('layouts/search-user-modal') %>
